<a class="<%=red%>" href=/dispositivos><img src=/images/icons/device_red.png alt=""><span>Dispostivos</span></a>
<a class="<%=blue%>" href=/prazos><img src=/images/icons/device_blue.png alt=""><span>Prazos</span></a>
<a class="<%=yellow%>" href=javascript:void(0)><img src=/images/icons/device_yellow.png alt=""><span>Ferramentas</span></a>
<a class="<%=green%>" href=javascript:void(0)><img src=/images/icons/device_green.png alt=""><span>Embalagens</span></a>