<ul id=nav-mobile class="right hide-on-med-and-down">
    <li><a class=blue-text href=/perfil/listar>Perfil</a></li>
    <li><a class=blue-text href=/login/logout>Setor</a></li>
    <li><a class=blue-text href=/login/logout>Usuários</a></li>
    <li><a href=/login/logout>Sair</a></li>
    <li><a class="btn modal-trigger btn-add <%= op == 0 ? 'hide' : ''%>" href=#lista-adicionar>+ Adicionar</a></li>
</ul>